
.r1{
    color: black;
    background-background: deep slate blue   ;
        
}
.r2{
    color:black;
       background-color: aqua;
       width: 200px;
       height: 100px;
       padding: 10px 10px 1px 10px;
       margin: 10px 100px 1px 10px;
}
.r3{
   color: black;
     background-color: lightgreen; 
}
.r4{
    color: black;
     background-color: lightgreen; 
     margin: 10px 10px 1px 10px;         
}
.r5{
    color: black;
     background-image: shadow radial-gradient(circle,beige,brown)    ;
     margin: 10px 10px 1px 10px; 
}
.r6{
    color: black;
     background-color: lightgreen; 
     margin: 10px 10px 1px 10px;
}
.r7{
    color: black;
     background-color: lightgreen; 
        margin: 10px 10px 1px 10px;     
}  
.r8{
   color: black;
     background-color: lightgreen; 
     margin: 10px 10px 1px 10px;

}
.r9{
   color: black;
     background-color: lightgreen; 
}
.r10{
   color: black;
     background-color: lightgreen; 
}
.r11{
   color: black;
     background-color: lightgreen;  
}
.r12{
    color: black;
     background-color: lightgreen; 
}
.r13{
    color: black;
     background-color: lightgreen; 
}
.r14{
 color: black;
     background-color: lightgreen; 
}
.r15{
    color: black;
     background-color: lightgreen; 
}  
.r16{
   color: black;
     background-color: lightgreen; 