*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:white;
}

/* NAVBAR */

.navbar{
    height:70px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 30px;
    border-bottom:1px solid #ddd;
}

.nav-left{
    display:flex;
    align-items:center;
    gap:20px;
}

.nav-left h1{
    font-size:42px;
}

.nav-left input{
    width:250px;
    padding:10px;
    border:none;
    background:#f1f1f1;
    border-radius:30px;
}

.nav-right{
    display:flex;
    align-items:center;
    gap:20px;
}

.nav-right button{
    background:black;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:20px;
}

.nav-right img{
    width:40px;
    height:40px;
    border-radius:50%;
}

/* MAIN LAYOUT */

.container{
    display:flex;
}

/* LEFT */

.sidebar{
    width:18%;
    min-height:100vh;
    border-right:1px solid #ddd;
    padding:30px;
}

.menu{
    margin-bottom:25px;
    font-size:18px;
}

.small{
    color:gray;
    margin-top:20px;
}

/* CENTER */

.content{
    width:57%;
    padding:30px;
}

.tabs{
    margin-bottom:20px;
    border-bottom:1px solid #ddd;
    padding-bottom:10px;
}

.tabs span{
    margin-right:25px;
}

.active{
    border-bottom:2px solid black;
    padding-bottom:10px;
}

.article{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 0;
    border-bottom:1px solid #eee;
}

.article-text{
    width:70%;
}

.article-text p{
    color:#666;
    margin-bottom:10px;
}

.article-text h2{
    font-size:40px;
    margin-bottom:10px;
}

.article-text h4{
    color:#666;
    font-weight:normal;
    margin-bottom:15px;
}

.article img{
    width:180px;
    height:120px;
    object-fit:cover;
}

/* RIGHT */

.rightbar{
    width:25%;
    padding:30px;
    border-left:1px solid #ddd;
}

.rightbar h2{
    margin-bottom:20px;
}

.pick{
    margin-bottom:30px;
}

.pick p{
    color:#777;
    margin-bottom:5px;
}

.topics{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.topics span{
    background:#f1f1f1;
    padding:10px 15px;
    border-radius:20px;
}
body{
    height:100vh;
    background:url("https://wallpapercave.com/wp/wp8792097.jpg");
    background-size:cover;
    font-family:Segoe UI, sans-serif;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.taskbar{
    position:fixed;
    bottom:0;
    width:100%;
    height:55px;
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(20px);
    display:flex;
    justify-content:center;
    align-items:center;
    border-top:1px solid rgba(255,255,255,0.3);
}

.icons{
    display:flex;
    gap:15px;
}

.icons img{
    width:30px;
    cursor:pointer;
    transition:0.3s;
}

.icons img:hover{
    transform:scale(1.2);
}

.right-section{
    position:absolute;
    right:20px;
    display:flex;
    gap:10px;
    color:white;
    font-size:14px;
}